<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="source55.challengeSpeed">
	<application
		android:allowBackup="true"
		android:icon="@drawable/icone"
		android:label="@string/nomedojogo">
		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
